@font-face {
  font-family: "CinzelDecorative";
  src: url("/fonts/Cinzel_Decorative/CinzelDecorative-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html, body, #root {
  margin: 0;
}

body {
  background-image: url("./assets/fons.avif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "CinzelDecorative" serif !important;
}

button,
input,
textarea,
select {
  font-family: inherit;
}

*, *::before, *::after {
  font-family: "CinzelDecorative", serif !important;
}